* {
  font-family: sans-serif;
  font-size: min(4rem, max(.875rem, 2vw));
}
li {
  list-style-type: none;
  margin: 0 2em 1em 0;
  gap: 1em;
}
input,
textarea {
  width: 100%;
}

input {
  line-height: 2em;
}

fieldset,
input,
textarea {
  border: 1px solid grey;
  border-radius: 10px;
}
