<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/product.component.css" rel="stylesheet" type="text/css" />
    <title>Product</title>
  </head>
  <body>
    <h1>Product</h1>
    <main>
      <section>
        <fieldset>
          <legend>Input Form</legend>

          <ul>
            <li>
              <label for="title">Title:</label>
              <input
                id="title"
                type="text"
                name="title"
                placeholder="Product Title"
              />
            </li>

            <li>
              <label for="subtitle">Subtitle:</label>
              <input
                id="subtitle"
                type="text"
                name="subtitle"
                placeholder="Product Subtitle"
              />
            </li>

            <li>
              <label for="description">Description:</label>
              <textarea
                id="description"
                type="text"
                name="description"
                placeholder="Product Description"
              ></textarea>
            </li>

            <li>
              <label for="price">Price:</label>
              <input
                id="price"
                type="text"
                name="price"
                placeholder="Product price"
              />
            </li>
          </ul>
          <button>ADD PRODUCT</button>
        </fieldset>
      </section>
    </main>
  </body>
</html>
