<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/app.component.css" rel="stylesheet" type="text/css" />
    <script>
      var exports = {};
    </script>

    <title>PRODUCTS</title>
  </head>
  <body>
    <main>
      <section class="buttons">
        <button id="show-add-product-form">SHOW ADD PRODUCT FORM</button>
        <button id="show-products">SHOW PRODUCTS</button>
      </section>  

      <section class="form">
        <fieldset>
          <legend>Input Form</legend>

          <ul>

            <li>
              <label for="title">Title:</label>
              <input
                id="title"
                type="text"
                name="title"
                placeholder="Product Title"
                required
              />
              <span class="error" id="error-title"></span>
            </li>

            <li>
              <label for="subtitle">Subtitle:</label>
              <input
                id="subtitle"
                type="text"
                name="subtitle"
                placeholder="Product Subtitle"
              />
              <span class="error" id="error-subtitle"></span>
            </li>

            <li>
              <label for="description">Description:</label>
              <textarea
                id="description"
                type="text"
                name="description"
                placeholder="Product Description"
              ></textarea>
              <span class="error" id="error-description"></span>
            </li>

            <li>
              <label for="price">Price:</label>
              <input
                id="price"
                type="text"
                name="price"
                placeholder="Product price"
                required
              />
              <span class="error" id='error-price'></span>
            </li>

            <li>
              <label for="currency">Currency:</label>
              <input
                id="currency"
                type="text"
                name="currency"
                disabled
              />
              <span class="error" id='error-currency'></span>
            </li>

            <li>
              <label for="pictures">Pictures:</label>
              <input
                id="pictures"
                type="text"
                name="pictures"
              />
            </li>

            <li>
              <label for="hashtags">Hashtags:</label>
              <input
                id="hashtags"
                type="text"
                name="hashtags"
              />
            </li>

          </ul>

          <button id="add-product">ADD PRODUCT</button>
          <button id="reset">RESET</button>
          <button id="update-product">UPDATE PRODUCT</button>

        </fieldset>
      </form>
    </section>

    <section class="products">

    </section>
    </main>
    <script
      async
      src="./views/app.component/app.component.js"
      type="module"
    ></script>
  </body>
</html>
