<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/app.component.css" rel="stylesheet" type="text/css" />
    <title>STONED</title>

    <script>
      // Resolves TS error: "Uncaught ReferenceError: exports is not defined" on browser that blocks the code from running
      var exports = {};
    </script>
  </head>
  <body>
    <h1>STONED</h1>
    <h2>If we can do it the hard way, why not?</h2>
    <main>
      <section class="buttons">
        <button id="add-product">ADD PRODUCT</button>
        <button id="show-products">SHOW PRODUCTS</button>
        <button id="function-store">FUNCTION STORE</button>
      </section>

      <dialog class="form">
        <fieldset>
          <legend>Input Form</legend>

          <ul>
            <li>
              <label for="title">
                Title:
                <span role="alert" class="error" id="error-title"></span>
              </label>
              <input
                id="title"
                type="text"
                name="title"
                placeholder="Product Title"
                required
              />
              <!-- role="alert" will announce the last error message when User tried to click save -->
            </li>

            <li>
              <label for="subtitle"> Subtitle: </label>
              <input
                id="subtitle"
                type="text"
                name="subtitle"
                placeholder="Product Subtitle"
              />
            </li>

            <li>
              <label for="description"> Description: </label>
              <textarea
                id="description"
                type="text"
                name="description"
                placeholder="Product Description"
              ></textarea>
            </li>

            <li>
              <label for="price">
                Price:
                <span role="alert" class="error" id="error-price"></span>
              </label>
              <input
                id="price"
                type="text"
                name="price"
                placeholder="Product price"
                required
              />
            </li>

            <li>
              <label for="currency">Currency:</label>
              <input id="currency" type="text" name="currency" disabled />
            </li>

            <li>
              <label for="pictures">Pictures:</label>
              <input id="pictures" type="text" name="pictures" />
            </li>

            <li>
              <label for="hashtags">Hashtags:</label>
              <input id="hashtags" type="text" name="hashtags" />
            </li>
          </ul>

          <button class="save">SAVE</button>
          <button id="reset">RESET</button>
          <button id="close-form">CLOSE FORM</button>
        </fieldset>
      </dialog>

      <section class="products"></section>
    </main>
    <script
      async
      src="./views/app.component/app.component.js"
      type="module"
    ></script>
    <script async src="./views/test/test.js" type="module"></script>
  </body>
</html>
